

.startPoint{
    width: 50px;
    height: 50px;
    position: fixed;
    right: 100px;
    bottom: 100px;
    z-index: 899998989;
    background: #ffffff;
    border-radius: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 2px 2px #0000000c;
}


.startPoint:hover{
    background: #ebebeb;
}


/* .back{
   position: absolute;
   left: 65px;
   top: 53px;
   z-index: 8;
   opacity: 0.7;
   animation: updown 1s ease-in-out 0s infinite alternate; margin-top: 0;}     
   @keyframes updown {
      0% {margin-top: 0px;}
      100% {margin-top: -22px;}
} */
.kjh{
   position: absolute;
   height: 36px;
   width: 100%;
   left: 40px;
   top: 30px;
   z-index: 10;
/*    animation: kjh 1s ease-in-out 0.07s infinite alternate;
   overflow: hidden;
   vertical-align:top;}
   @keyframes kjh {
   13%, 25% {height: 2.5%;}
   67%, 100% {height:0%;}  */
}
/* .kjh2{
   position: absolute;
   height: 36px;
   width: 100%;
   left: 65px;
   top: 36px;
   opacity: 0.2;
   z-index: 9;
}
.front{
   position: absolute;
   left: 39px;
   top: 47px;
   opacity: 0.7;
   z-index: 11;
      animation: updown 1s ease-in-out 0s infinite alternate; margin-top: 0;}     
   @keyframes updown {
      0% {margin-top: 0px;}
      100% {margin-top: -22px;}
} */
 
.website{
   position: relative;
 }
 .website:after{
   content: "";
   position: absolute;
   left: 0;
   bottom: -34px;
   width: 0px;
   height: 4px;
   margin: 5px 0 0;
   transition: all 0.2s ease-in-out;
   transition-duration: 0.3s;
   opacity: 0;
   background-color: white;
 }
 .website:hover:after{
   width: 100%;
   opacity: 1;
 }
.website{
   position: absolute;
   left: 1080px;
   top: 40px;
   z-index: 11;
}

.microsite{
   position: relative;
 }
 .microsite:after{
   content: "";
   position: absolute;
   left: 0;
   bottom: -34px;
   width: 0px;
   height: 4px;
   margin: 5px 0 0;
   transition: all 0.2s ease-in-out;
   transition-duration: 0.3s;
   opacity: 0;
   background-color: white;
 }
 .microsite:hover:after{
   width: 100%;
   opacity: 1;
 }
.microsite{
   position: absolute;
   left: 1209px;
   top: 40px;
   z-index: 11;
}

.app{
   position: relative;
 }
 .app:after{
   content: "";
   position: absolute;
   left: 0;
   bottom: -33px;
   width: 100%;
   height: 4px;
   margin: 5px 0 0;
   transition: all 0.2s ease-in-out;
   transition-duration: 0.3s;
   opacity: 0.5;
   background-color: white;
 }
 .app:hover:after{
   width: 100%;
   opacity: 1;
 }
.app{
   position: absolute;
   left: 1346px;
   top: 39px;
   z-index: 11;
}

.promo01{
   position: relative;
 }
 .promo01:after{
   content: "";
   position: absolute;
   left: 0;
   bottom: -34px;
   width: 0px;
   height: 4px;
   margin: 5px 0 0;
   transition: all 0.2s ease-in-out;
   transition-duration: 0.3s;
   opacity: 0;
   background-color: white;
 }
 .promo01:hover:after{
   width: 100%;
   opacity: 1;
 }
.promo01{
   position: absolute;
   left: 1436px;
   top: 40px;
   z-index: 11;
}

.promo02{
   position: relative;
 }
 .promo02:after{
   content: "";
   position: absolute;
   left: 0;
   bottom: -34px;
   width: 0px;
   height: 4px;
   margin: 5px 0 0;
   transition: all 0.2s ease-in-out;
   transition-duration: 0.3s;
   opacity: 0;
   background-color: white;
 }
 .promo02:hover:after{
   width: 100%;
   opacity: 1;
 }
.promo02{
   position: absolute;
   left: 1609px;
   top: 40px;
   z-index: 11;
}



#section01{
   background:url(../img/1/01mainbg.jpg);
   Height: 3301px;
   width: 100%;
}
#section01 .maintypo1{
   position: absolute;
   left: 797px;
   top: 1198px;
   z-index: 1;
   transform: translate(740px, 155px);
   transition: 1.5s;
   opacity: 0;
}
   #section01 .maintypo1.on{
      transform: none;
      opacity: 1;
   }
#section01 .maintypo2{
   position: absolute;
   left: 218px;
   top: 1890px;
   z-index: 1;
}
#section01 .mainmoc{
   position: absolute;
   left: 710px;
   top: 850px;
   z-index: 2;
   transform: translateY(500px);
   transition: 1.5s;
}
   #section01 .mainmoc.on{
      transform: none;
}
#section01 .mainds1{
   position: absolute;
   left: -3px;
   top: 2369px;
   z-index: 2;
   transform: translateY(300px);
   transition: 1.5s;
   opacity: 0;
}
   #section01 .mainds1.on{
      transform: none;
      opacity: 1;
}
#section01 .mainds2{
   position: absolute;
   left: 220px;
   top: 2592px;
   z-index: 2;
   transform: translateY(300px);
   transition: 1.5s;
   opacity: 0;
}
   #section01 .mainds2.on{
      transform: none;
      opacity: 1;
}
#section01 .mainds3{
   position: absolute;
   left: 479px;
   top: 2115px;
   z-index: 2;
   transform: translateY(300px);
   transition: 1.5s;
   opacity: 0;
}
   #section01 .mainds3.on{
      transform: none;
      opacity: 1;
}
#section01 .mainds4{
   position: absolute;
   left: 957px;
   top: 2592px;
   z-index: 2;
   transform: translateY(300px);
   transition: 1.5s;
   opacity: 0;
}
   #section01 .mainds4.on{
      transform: none;
      opacity: 1;
}
#section01 .mainds5{
   position: absolute;
   left: 1396px;
   top: 2293px;
   z-index: 2;
   transform: translateY(300px);
   transition: 1.5s;
   opacity: 0;
}
   #section01 .mainds5.on{
      transform: none;
      opacity: 1;
}
#section01 .mainds6{
   position: absolute;
   left: 1693px;
   top: 2592px;
   z-index: 2;
   transform: translateY(300px);
   transition: 1.5s;
   opacity: 0;
}
   #section01 .mainds6.on{
      transform: none;
      opacity: 1;
}
#section01 .mainds7{
   position: absolute;
   left: 218px;
   top: 1350px;
   opacity: 0;
   z-index: 1;}
#section01 .mainds7.on{
   position: absolute;
   left: 218px;
   top: 1350px;
   z-index: 1;
   opacity: 1;
   animation-name:line1;
   animation-duration: 7s;
   overflow:hidden;
   vertical-align:top;}

   @keyframes line1 {
   0% {height:0%;}
   100% {height:100%;} 
}










#section02{
   background:url(../img/1/02overview.jpg);
   Height: 873px;
   width: 100%;
   z-index: 1;
}
#section02 .overviewtypo{
   position: absolute;
   left: 142px;
   top: 367px;
   z-index: 1;
   transform: translateY(200px);
   transition: 1.5s;
   opacity: 0;
}
   #section02 .overviewtypo.on{
      transform: none;
      opacity: 1;
}





#section03{
   background:url(../img/1/03designprocess.jpg);
   Height: 1409px;
   width: 100%;
}
#section03 .dpds1{
   position: absolute;
   left: 141px;
   top: 440px;
   opacity: 0;
   z-index: 1;
   }
   #section03 .dpds1.on{
   position: absolute;
   left: 141px;
   top: 440px;
   z-index: 1;
   opacity: 1;
   animation:dp 3s 1;
   overflow:hidden;
   vertical-align:top;}

   @keyframes dp {
   0% {width:0%;}
   100% {width:100%;} 
}
#section03 .dpds2{
   position: absolute;
   left: 204px;
   top: 588px;
   z-index: 1;
   transform: translateX(-150px);
   transition: 3s;
   opacity: 0;
}
   #section03 .dpds2.on{
      transform: none;
      opacity: 1;
}
#section03 .dptypo{
   position: absolute;
   left: 207px;
   top: 1125px;
   z-index: 1;
   transition: 3s;
   opacity: 0;
}
   #section03 .dptypo.on{
      transform: none;
      opacity: 1;
}





#section04{
   background:url(../img/1/04research.jpg);
   Height: 1752px;
   width: 100%;
}
#section04 .researchds1{
   position: absolute;
   left: -67px;
   top: 409px;
   z-index: 1;
   transform: translateX(-500px);
   transition: 1.5s;
   opacity: 0;
}
   #section04 .researchds1.on{
      transform: none;
      opacity: 1;
}
#section04 .researchds2{
   position: absolute;
   left: 1120px;
   top: 408px;
   z-index: 1;
   transform: translateY(500px);
   transition: 1.5s;
   opacity: 0;
}
   #section04 .researchds2.on{
      transform: none;
      opacity: 1;
}






#section05{
   background:url(../img/1/05interview.jpg);
   Height: 869px;
   width: 100%;
}
#section05 .interviewtypo1{
   position: absolute;
   left: 142px;
   top: 170px;
   z-index: 1;
}
#section05 .interviewtypo2{
   position: absolute;
   left: 141px;
   top: 277px;
   z-index: 1;
   transform: translateY(200px);
   transition: 1.5s;
   opacity: 0;
}
   #section05 .interviewtypo2.on{
      transform: none;
      opacity: 1;
}
#section05 .interviewds{
   position: absolute;
   left: 103px;
   top: 466px;
   z-index: 1;
   transform: translateX(800px);
   transition: 2s;
}
   #section05 .interviewds.on{
      transform: none;
}





#section06{
   background:url(../img/1/06positioning.jpg);
   Height: 1044px;
   width: 100%;
}
#section06 .positiontypo{
   position: absolute;
   left: 317px;
   top: 659px;
   z-index: 1;
}
#section06 .positionds1{
   position: absolute;
   left: 0px;
   top: 439px;
   z-index: 1;
   opacity: 0;
}
#section06 .positionds1.on{
   position: absolute;
   left: 0px;
   top: 439px;
   z-index: 1;
   opacity: 1;
   animation:pd1 3s 1;
   overflow:hidden;
   vertical-align:top;}

   @keyframes pd1 {
   0% {width:0%;}
   100% {width:100%;} 
}
#section06 .positionds2{
   position: absolute;
   left: 1306px;
   top: 0px;
   z-index: 1;
   opacity: 0;
   }
   #section06 .positionds2.on{
      position: absolute;
      left: 1306px;
      top: 0px;
      z-index: 1;
      opacity: 1;
      animation:pd2 3s 1;
      overflow:hidden;
      vertical-align:top;}
   
      @keyframes pd2 {
      0% {height:0%;}
      100% {height:100%;} 
   }

#section06 .positionds3{
   position: absolute;
   left: 1354px;
   top: 425px;
   z-index: 2;
   transition: 4s;
   opacity: 0;
}
   #section06 .positionds3.on{
      transform: none;
      opacity: 1;
}







#section07{
   background:url(../img/1/07ia.jpg);
   Height: 1081px;
   width: 100%;
   z-index: 1;
}
#section07 .iads1{
   position: absolute;
   left: 254px;
   top: 294px;
   z-index: 1;
   opacity: 0;
   }
   #section07 .iads1.on{
   position: absolute;
   left: 254px;
   top: 294px;
   z-index: 1;
   opacity: 1;
   animation:iads1 6s 1;
   overflow:hidden;
   vertical-align:top;}

   @keyframes iads1 {
   0% {height:0%;}
   50% {height:30%;} 
}
#section07 .iads2{
   position: absolute;
   left: 199px;
   top: 514px;
   z-index: 1;
   transition: 2s;
   transform: translateY(-150px);
   opacity: 0;
}
   #section07 .iads2.on{
      transform: none;
      opacity: 1;
}





#section08{
   background:url(../img/2/08move2.jpg);
   Height: 2018px;
   width: 100%;
}
#section08 .signuptypo1{
   position: absolute;
   left: 848px;
   top: 241px;
   z-index: 1;
}
#section08 .moving{
   background:url(../img/2/08move2.jpg) 0 center / 1920px repeat-x;
   Height: 2018px;
   width: 100%;
   z-index: 1;
   animation: movebg 13s linear infinite;
}
@keyframes movebg {
   0% {background-position: 0 center;}
   100% {background-position: -1920px center;}
}
#section08 .pm1{
   position: absolute;
   left: 668px;
   top: 408px;
   z-index: 2;
}
#section08 .signupvdo{
   position: absolute;
   width: 440px;
   height: 960px;
   width: 654px;
   height: 1100px;
   left: 740px;
   top: 493px;
   z-index: 1;
}
#section08 .signupds1{
   position: absolute;
   left: 1306px;
   top: 554px;
   z-index: 1;
   transform: translateX(-300px);
   transition: 1.5s;
   opacity: 0;
}
   #section08 .signupds1.on{
      transform: none;
      opacity: 1;
}
#section08 .signupds2{
   position: absolute;
   left: 223px;
   top: 1359px;
   z-index: 1;
   transform: translateX(300px);
   transition: 1.5s;
   opacity: 0;
}
   #section08 .signupds2.on{
      transform: none;
      opacity: 1;
}
#section08 .signuptypo2{
   position: absolute;
   left: 640px;
   top: 1677px;
   z-index: 2;
   transform: translateY(200px);
   transition: 1.5s;
   opacity: 0;
}
   #section08 .signuptypo2.on{
      transform: none;
      opacity: 1;
}








#section09{
   background:url(../img/1/09home.jpg);
   Height: 4084px;
   width: 100%;
}
#section09 .pm2{
   position: absolute;
   left: 1283px;
   top: 321px;
   z-index: 2;
}
#section09 .homevdo{
   position: absolute;
   left: 1354px;
   top: 404px;
   z-index: 1;
}
#section09 .homemoc1{
   position: absolute;
   left: 201px;
   top: 994px;
   z-index: 2;
}
#section09 .homemoc2{
   position: absolute;
   left: 759px;
   top: 1851px;
   z-index: 2;
}
#section09 .homemoc3{
   position: absolute;
   left: 206px;
   top: 2653px;
   z-index: 2;
}
#section09 .hometypo{
   position: absolute;
   left: 138px;
   top: 383px;
   z-index: 1;
   transform: translateY(200px);
   transition: 1.5s;
   opacity: 0;
}
   #section09 .hometypo.on{
      transform: none;
      opacity: 1;
}
#section09 .homeds1{
   position: absolute;
   left: 719px;
   top: 1246px;
   z-index: 1;
   transform: translateX(-300px);
   transition: 1.5s;
   opacity: 0;
}
   #section09 .homeds1.on{
      transform: none;
      opacity: 1;
}
#section09 .homeds2{
   position: absolute;
   left: 262px;
   top: 2237px;
   z-index: 1;
   transform: translateX(300px);
   transition: 1.5s;
   opacity: 0;
}
   #section09 .homeds2.on{
      transform: none;
      opacity: 1;
}
#section09 .homeds3{
   position: absolute;
   left: 484px;
   top: 3496px;
   z-index: 1;
   transform: translateY(-200px);
   transition: 1.5s;
   opacity: 0;
}
   #section09 .homeds3.on{
      transform: none;
      opacity: 1;
}
#section09 .homeds4{
   position: absolute;
   left: 1325px;
   top: 418px;
   z-index: 0;
   transform: translateY(-200px);
   transition: 4s;
   opacity: 0;
}
   #section09 .homeds4.on{
      transform: none;
      opacity: 1;
}







#section10{
   background:url(../img/1/10wireframe.jpg);
   Height: 1467px;
   width: 100%;
}
#section10 .wireframeds{
   position: absolute;
   left: 155px;
   top: 524px;
   z-index: 1;
   opacity: 0;
}
   #section10 .wireframeds.on{
      transform: none;
      opacity: 1;
      animation:wf 2.5s infinite;
      overflow:hidden;
      vertical-align:top;}
   
      @keyframes wf {
      0% {width:0%;}
      100% {width:100%;} 
   }

#section10 .wireframetypo{
   position: absolute;
   left: 273px;
   top: 1182px;
   z-index: 1;
   transform: translateY(200px);
   transition: 1.5s;
   opacity: 0;
}
   #section10 .wireframetypo.on{
      transform: none;
      opacity: 1;
}










#section11{
   background:url(../img/1/11livestory.jpg);
   Height: 3792px;
   width: 100%;
}
#section11 .livestorytap{
   position: absolute;
   left: 489px;
   top: 316px;
   z-index: 2;
   transform: scale(0.5, 0.5);
   transition: 1s;
   opacity: 0;
}
   #section11 .livestorytap.on{
      transform: none;
      opacity: 1;
}
#section11 .livestorytypo{
   position: absolute;
   left: 614px;
   top: 882px;
   z-index: 1;
   transform: translateY(200px);
   transition: 1.5s;
   opacity: 0;
}
   #section11 .livestorytypo.on{
      transform: none;
      opacity: 1;
}
#section11 .livestoryds1{
   position: absolute;
   left: 1095px;
   top: 1113px;
   z-index: 2;
}

#section11 .livestoryds2{
   position: absolute;
   left: 1095px;
   top: 1342px;
   z-index: 1;
   transform: translateY(-200px);
   transition: 1.5s;
   opacity: 0;
}
   #section11 .livestoryds2.on{
      transform: none;
      opacity: 0.3;
}
#section11 .livestoryds2.on:hover{
   opacity: 1;
}
#section11 .livestoryds3{
   position: absolute;
   left: 1095px;
   top: 1571px;
   z-index: 1;
   transform: translateY(-400px);
   transition: 1.5s;
   opacity: 0;
}
   #section11 .livestoryds3.on{
      transform: none;
      opacity: 0.3;
}
#section11 .livestoryds3.on:hover{
   opacity: 1;
}
#section11 .livestorymoc2{
   position: absolute;
   left: 616px;
   top: 1854px;
   z-index: 2;
}
#section11 .livestorymoc3{
   position: absolute;
   left: 139px;
   top: 2492px;
   z-index: 2;
}
#section11 .livestorypic1{
   position: absolute;
   left: 845px;
   top: 2360px;
   z-index: 1;
   transform: scale(0.5, 0.5);
   transition: 1.5s;
   opacity: 0;
}
   #section11 .livestorypic1.on{
      transform: none;
      opacity: 1;
}
#section11 .livestorypic2{
   position: absolute;
   left: 334px;
   top: 2888px;
   z-index: 1;
   transform: translateX(-200px);
   transition: 1.5s;
   opacity: 0;
}
   #section11 .livestorypic2.on{
      transform: none;
      opacity: 1;
}
#section11 .pm3{
   position: absolute;
   left: 920px;
   top: 2697px;
   z-index: 2;
}
#section11 .livevdo{
   position: absolute;
   left: 991px;
   top: 2783px;
   z-index: 1;
}










#section12{
   background:url(../img/1/12pics.jpg);
   Height: 1513px;
   width: 100%;
}
#section12 .moodtypo{
   position: absolute;
   left: 211px;
   top: 67px;
   z-index: 1;
   transition: 3s;
   opacity: 0;
}
   #section12 .moodtypo.on{
      transform: none;
      opacity: 1;
}
#section12 .moodds1{
   position: absolute;
   left: 494px;
   top: 518px;
   z-index: 2;
   transform: translateY(-205px);
   transition: 1.5s;
}
   #section12 .moodds1.on{
      transform: none;
}
#section12 .moodds2{
   position: absolute;
   left: 21px;
   top: 312px;
   z-index: 2;
}









#section13{
   background:url(../img/1/13weather.jpg);
   Height: 3300px;
   width: 100%;
}
#section13 .weatherds1{
   position: absolute;
   left: 1127px;
   top: 42px;
   z-index: 1;
   transform: translateX(300px);
   transition: 1.5s;
   opacity: 0;
}
   #section13 .weatherds1.on{
      transform: none;
      opacity: 1;
}
#section13 .weathertypo{
   position: absolute;
   left: 149px;
   top: 633px;
   z-index: 1;
   transform: translateY(200px);
   transition: 1.5s;
   opacity: 0;
}
   #section13 .weathertypo.on{
      transform: none;
      opacity: 1;
}
#section13 .weatherds2{
   position: absolute;
   left: 82px;
   top: 1465px;
   z-index: 1;
   transform: translateY(300px);
   transition: 1.5s;
   opacity: 0;
}
   #section13 .weatherds2.on{
      transform: none;
      opacity: 1;
}
#section13 .weatherds3{
   position: absolute;
   left: 244px;
   top: 1927px;
   z-index: 1;
   transform: translateY(300px);
   transition: 1.5s;
   opacity: 0;
}
   #section13 .weatherds3.on{
      transform: none;
      opacity: 1;
}
#section13 .weatherds4{
   position: absolute;
   left: 1343px;
   top: 2101px;
   z-index: 1;
   transform: translateY(300px);
   transition: 1.5s;
   opacity: 0;
}
   #section13 .weatherds4.on{
      transform: none;
      opacity: 1;
}
#section13 .weatherpic{
   position: absolute;
   left: 1116px;
   top: 649px;
   z-index: 1;
   opacity: 0;
   }
   #section13 .weatherpic.on{
   position: absolute;
   left: 1116px;
   top: 649px;
   z-index: 1;
   opacity: 1;
   animation: pic1 3s 1;
   overflow:hidden;
   vertical-align:left;}

   @keyframes pic1 {
   0% {width:0%;}
   100% {width:100%;} 
}
#section13 .pm4{
   position: absolute;
   left: 661px;
   top: 569px;
   z-index: 3;
}
#section13 .weathervdo{
   position: absolute;
   left: 733px;
   top: 655px;
   z-index: 2;
}
#section13 .weathermoc{
   position: absolute;
   left: 734px;
   top: 1530px;
   z-index: 1;
   transform: translateY(-300px);
   transition: 2s;
   opacity: 0;
}
   #section13 .weathermoc.on{
      transform: none;
      opacity: 1;
}









#section14{
   Height: 330px;
   width: 100%;
   background-color: #ffffff;
}
#section14 .moving2{
   height: 150px;
   width: 100%;
   background:url(../img/2/13mv1.png) 0 center / 1820px repeat-x;
   animation: move2 5s linear infinite;
}
@keyframes move2 {
   0% {background-position: 0 center;}
   100% {background-position: -1820px center;}
}
#section14 .moving3{
   height: 130px;
   width: 100%;
   background:url(../img/2/13mv2.png) 0 center / 1420px repeat-x;
   animation: move3 4s linear infinite;
}
@keyframes move3 {
   0% {background-position: 0 center;}
   100% {background-position: 1420px center;}
}












#section15{
   background:url(../img/1/14booking.jpg);
   Height: 1632px;
   width: 100%;
}
#section15 .pm5{
   position: absolute;
   left: 252px;
   top: 95px;
   z-index: 2;
}
#section15 .bookingvdo{
   position: absolute;
   left: 323px;
   top: 184px;
   z-index: 1;
}
#section15 .bookingtypo{
   position: absolute;
   left: 762px;
   top: 236px;
   z-index: 1;
   transform: translateX(-300px);
   transition: 1.5s;
   opacity: 0;
}
   #section15 .bookingtypo.on{
      transform: none;
      opacity: 1;
}
#section15 .bookingmoc2{
   position: absolute;
   left: 942px;
   top: 714px;
   z-index: 1;
   transform: translateY(-200px);
   transition: 2s;
   opacity: 0;
}
   #section15 .bookingmoc2.on{
      transform: none;
      opacity: 1;
}
#section15 .bookingmoc3{
   position: absolute;
   left: 1404px;
   top: 714px;
   z-index: 1;
   transform: translateY(-200px);
   transition: 2.5s;
   opacity: 0;
}
   #section15 .bookingmoc3.on{
      transform: none;
      opacity: 1;
}











#section16{
   background:url(../img/1/15footer.jpg);
   Height: 900px;
   width: 100%;
   overflow: hidden;
}
#section16 .footermoc{
   position: absolute;
   left: 919px;
   top: 246px;
   z-index: 1;
   transform: translate(200px, 100px);
   transition: 1.5s;
   opacity: 0;
}
   #section16 .footermoc.on{
      transform: none;
      opacity: 1;
}
#section16 .footertypo{
   position: absolute;
   left: 149px;
   top: 408px;
   z-index: 1;
   animation: bling1 2s infinite; opacity: 0;}
    
   @keyframes bling1 {
     10% {opacity: 0;}
     50% {opacity: 1;}
}








#section17{
   background:url(../../../img/5/footer5_2.png);
   Height: 330px;
   width: 100%;   
   z-index: 2;
}

#section17 .prev3{
   position: absolute;
   left: 1693px;
   top: 41px;
   z-index: 3;
}
#section17 .next3{
   position: absolute;
   left: 1835px;
   top: 41px;
   z-index: 3;
}

